.banner .swiper {
    width: 240px;
    height: 320px;
  }
  
  .banner .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
  .banner .swiper-slide:nth-child(1n) {
    background-image: url(src/assets/banner-books/book1.png);
  }
  
  .banner .swiper-slide:nth-child(2n) {
    background-image: url(src/assets/banner-books/book2.png);
  }
  
  .banner .swiper-slide:nth-child(3n) {
   background-image: url(src/assets/banner-books/book3.png);
  }
  
  .banner .swiper-slide:nth-child(4n) {
    background-image: url(src/assets/banner-books/book4.png);
  }
  
  .banner .swiper-slide:nth-child(5n) {
    background-image: url(src/assets/banner-books/book5.png);
  }
  
  .banner .swiper-slide:nth-child(6n) {
    background-image: url(src/assets/banner-books/book6.jpg);
    object-fit: cover;
  }
  